#Class Tanımlamak

x Class mantığında hem fonksiyonalite hem de veriyi bir arada tutma yoluna bakacağız. 

x Class'ın içerisindeki veri(data)'lara attribute, fonksiyonlara method diyeceğiz. 

x Örneğin; bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu class mantığı ile uyumlu çalışacaktır. Her çalışanın farklı farklı özellikleri (attribute)'ları ve yaptıkları işler (methodları) olacaktır. 

x Class içerisinde method yaratırken, class'tan yaratılan objeyi methodlar ilk arguman olarak alır, ve bu argumana ortak ağız oluşması açısından "self" ismini veriyoruz. Fakat bu kişinin isteği doğrultusunda değişime uğrayabilir.

#Attribute

In [ ]:
# it gives error 
class Employee:

SyntaxError: ignored

In [ ]:
class Employee:
  pass

In [ ]:
e = Employee()

# e objesine "a" attribute'u ekledik.
e.a = 4

In [ ]:
e.a

4

In [ ]:
# yukarıdaki gibi tek tek vermek yerine en başta class'ı tanımlarken bütün attribute'ları verebiliriz. 

class Employee:
  def __init__(self, name, last, age, pay):
    self.name = name 
    self.last = last 
    self.age = age 
    self.pay = pay

In [ ]:
# class bu parametrelr ile birlikte obje yaratmak için bir kalıptır sadece!!!
emp_1 = Employee("seyit", "cabbar", "44", 44444)

# üst satırdaki kod ile bir obje yarattık, Employee class'ının bir objesi

In [ ]:
emp_1.last

'cabbar'

Burada yaratılan bütün attribute'lar instance variable'dır. Her obje (classtan yaratılan instance), kendine özel attribute'a sahip(iki kişinin adı aynı olabilir) fakat hepsi için ayrı bir variable var ve hepsi kendi age attribute'unda tutuluyor.

In [ ]:
class Employee:
  def __init__(self, name, last, age, pay):
    self.name = name 
    self.last = last 
    self.age = age 
    self.pay = pay 

  def fullname(self):
    print(f"{self.name} {self.last}")

In [ ]:
emp_2 = Employee("seyit2", "cabbar2", "22", 2222)
emp_3 = Employee("seyit3", "cabbar3", "44", 3333)
emp_2.fullname()
emp_3.fullname()

seyit2 cabbar2
seyit3 cabbar3

**. Instance Variable : *** Class'tan yaratılan objelerin kendilerine özgü değişkenleri. Bu örnekteki name, last,age,pay gibi..

**. Class Variable :  **** Class'tan yaratılan tüm objelerde paylaşılan değişkenler.

**. Mesela tüm çalışanlar arasında hangi verinin paylaşılmasını isteyebilirim ? Şirket herkese aynı yüzdelik zam uyguluyorsa bunun yüzdesini class variable'ı olarak tutabilirim ***

In [6]:
class Employee:
    
    raise_percent = 1.05

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last 
        self.age = age
        self.pay = pay 
    
    def apply_raise(self):
        self.pay = self.pay * raise_percent

In [7]:
emp_1 = Employee("Seyido", "ahmedo", "41", 54)

In [3]:
emp_1.apply_raise()

NameError: ignored

***DİKKAT****: Class variable'larına ulaşmak için ya genel Class üzerinden ya da o sırada oluşturduğumuz obje üzerinden ulaşmamız lazım.

In [9]:
emp_1.raise_percent

1.05

In [10]:
Employee.raise_percent

1.05

In [11]:
class Employee:
    
    raise_percent = 1.05

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last 
        self.age = age
        self.pay = pay 
    
    def apply_raise(self):
        self.pay = self.pay * Employee.raise_percent

In [12]:
emp_1 = Employee("Seyido2", "ahmedo2", "42", 52)
emp_2 = Employee("Seyido3", "ahmedo3", "43", 53)

In [13]:
emp_1.pay

52

In [14]:
emp_1.apply_raise()

In [15]:
emp_1.pay

54.6

In [16]:
class Employee:
    
    raise_percent = 1.05

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last 
        self.age = age
        self.pay = pay 
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [17]:
emp_1 = Employee("Seyido2", "ahmedo2", "42", 52)
emp_2 = Employee("Seyido3", "ahmedo3", "43", 53)

In [18]:
emp_1.apply_raise()

In [19]:
emp_1.pay

54.6

*** emp_1.raise_percent -> *** ilk olarak bu instance'a bakar, eğer bulamazsa class variable olarak var mı diye bakar.

In [20]:
print(emp_1.__dict__)

{'name': 'Seyido2', 'last': 'ahmedo2', 'age': '42', 'pay': 54.6}

In [21]:
print(Employee.__dict__)

{'__module__': '__main__', 'raise_percent': 1.05, '__init__': <function Employee.__init__ at 0x7ff510493b90>, 'apply_raise': <function Employee.apply_raise at 0x7ff510493e60>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [22]:
emp_1.experience = 10 
print(emp_1.__dict__)

{'name': 'Seyido2', 'last': 'ahmedo2', 'age': '42', 'pay': 54.6, 'experience': 10}

In [23]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.05
1.05
1.05

In [24]:
Employee.raise_percent = 1.06

***. Class variable'ı Class üzerinde güncellemek hepsinden günceller.***

In [25]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.06
1.06
1.06

In [26]:
# bu şekilde yaparsak yeni bir attribute oluşturur!!!!!
emp_1.raise_percent = 1.07

In [27]:
print(emp_1.__dict__)

{'name': 'Seyido2', 'last': 'ahmedo2', 'age': '42', 'pay': 54.6, 'experience': 10, 'raise_percent': 1.07}

In [28]:
print(emp_2.__dict__)

{'name': 'Seyido3', 'last': 'ahmedo3', 'age': '43', 'pay': 53}

In [29]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

1.07
1.06
1.06

#Kaç tane çalışan olduğunu Class Variable olarak tutmak 

. Her yeni çalışan geldiğinde toplam çalışanı 1 arttırmak istiyoruz.

In [31]:
class Employee:

    raise_percent = 1.05 
    num_emp = 0 

    def __init__(self,name,last,age,pay):

        self.name = name 
        self.last = last 
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1 
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [32]:
Employee.num_emp

0

In [33]:
emp_1 = Employee("Seyido2", "ahmedo2", "42", 520)
Employee.num_emp

1

In [34]:
emp_1.num_emp

1

In [35]:
emp_2 = Employee("Seyido23", "ahmedo2", "42", 520)
emp_3 = Employee("Seyido24", "ahmedo2", "42", 520)
print(Employee.num_emp)
print(emp_2.num_em p)

3
3

#CLASS METHOD

***.*** @classmethod decorator methodu ilk argüman olarak instance almak yerine class'ı alacak şekilde güncellenir.

In [37]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    @classmethod 
    def set_raise(cls, amount):
        cls.raise_percent = amount

In [38]:
emp_1 = Employee("kaan","tangöze", "22", 44000)
emp_2 = Employee("kaan2","tangöze2", "222", 440002)

In [41]:
Employee.set_raise(1.6)
emp_1.raise_percent

1.6

In [42]:
emp_1.set_raise(2.3)
emp_1.raise_percent

2.3

In [43]:
print(emp_1.raise_percent)
print(emp_2.raise_percent)
print(Employee.raise_percent)

2.3
2.3
2.3

. String olarak input geldiğinde objenin bu şekilde oluşması için başka nasıl bir mekanizma kullanabilirim ? 

Her seferinde string'i parse etmek yerine bunu bir method olarak yazabiliriz.

In [44]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    @classmethod 
    def set_raise(cls, amount):
        cls.raise_percent = amount 

    @classmethod
    def from_string(cls, emp_str):
        name, last, age, pay = emp_str.split("-")
        return cls(name, last, int(age), float(pay)) #yeni çalışan yaratacak ve döndürecek

In [45]:
emp_1_str = "James-Hughes-32-5000"
emp_2_str = "James2-Hughes2-322-50002"

In [48]:
emp_1 = Employee.from_string(emp_2_str)
emp_1.pay

50002.0

#Static Method 

. Regular method'lar(ilk gördüklerimiz), class'ın instance'ını(oluşturulan objeyi), methodlara otomatik olarak argüman olarak veriyordu(self kullanarak). Class methodarı class'ı otomatik olarak argüman olarak veriyor. Static methodlar otomatik olarak bir şey vermeyen methodlar olacak.

. Instance veya class'a methodun içerisinde erişim olmuyorsa static olarak tanımlamak daha iyi olabilir.

In [49]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    @classmethod 
    def set_raise(cls, amount):
        cls.raise_percent = amount 

    @classmethod
    def from_string(cls, emp_str):
        name, last, age, pay = emp_str.split("-")
        return cls(name, last, int(age), float(pay)) #yeni çalışan yaratacak ve döndürecek 

    @staticmethod
    def holiday_print(day):
        if day == "weekend":
            print("this is an off day")
        else:
            print("this is not an off day")

In [50]:
Employee.holiday_print("weekend")

this is an off day

In [51]:
emp1 = Employee("james", "hughes", "111", 456)

In [52]:
emp1.holiday_print("working day")

this is not an off day

#INHERITANCE

. Inheritance belirttiğimiz başka class'lardaki method ve attribute'lara erişmemizi sağlar. 

. Diyelim ki farklı tipte çalışanlar yaratmak istiyoruz. IT ve HR çalışanları olsun.

In [7]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

. Hangi class'tan inherit etmek istediğimizi parantezin içine yazıyoruz.

. Inherit ettiğimiz class'a ***parent/super class***, inherit edene de child/subclass denir.

In [8]:
emp_1 = Employee("kaan","tangöze", "22", 44000)
emp_2 = Employee("kaan2","tangöze2", "222", 44000)

In [9]:
class IT(Employee):
  pass

. IT'nin içerisinde bulamazsa aradığını, inherit ettiği yere gidip bakacak. IT'nin içerisinde __init__ methodu yok, bu yüzden gidip Employee class'ına bakacak.

In [11]:
it_1 = IT("JAMAZ", "HUGHZ", "55", 50000)

In [12]:
it_1.__dict__

{'age': '55', 'last': 'HUGHZ', 'name': 'JAMAZ', 'pay': 50000}

In [13]:
it_1.name

'JAMAZ'

In [14]:
help(IT)

Help on class IT in module __main__:

class IT(Employee)
 |  IT(name, last, age, pay)
 |
 |  Method resolution order:
 |      IT
 |      Employee
 |      builtins.object
 |
 |  Methods inherited from Employee:
 |
 |  __init__(self, name, last, age, pay)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  apply_raise(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from Employee:
 |
 |  num_emp = 4
 |
 |  raise_percent = 1.05

In [15]:
it_1.pay

50000

In [17]:
it_1.apply_raise()

In [18]:
it_1.pay

55125.0

...diyelim li IT'dekilerin yüzdelik maaş değişimini farklı bir değer olarak belirlemek istiyorum.

In [19]:
class IT(Employee):
  raise_percent = 1.2

In [20]:
it_1 = IT("JAMAZ", "HUGHZ", "55", 50000)

In [21]:
it_1.pay

50000

. Employee'nin raise_percent attribute'unu kullanmak yerine kendisi içinde belirttiğimizi kullanıyor. Kendi içerisinde bulabilirse kullanıyor, bulamazsa inherit ettiği yere bakıyor.

In [22]:
it_1.raise_percent

1.2

In [23]:
it_1.apply_raise()

In [24]:
it_1.pay

60000.0

. IT'nin raise_percent'ini değiştirmek, inherit ettiği yerinkini değiştirmez.

In [25]:
Employee.raise_percent

1.05

. ***subclass***'ta yaptığımız değişiklik parent class'ı etkilemez.

. diyelim ki IT'cilere yeni bir özellik olarak hangi programlama dili bildiklerini de eklemek istiyoruz.

In [26]:
class IT(Employee):
    raise_percent = 1.05

    def __init__(self, name, last, age, pay, lang):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        self.lang = lang

In [28]:
it_1 = IT("JAMÖZ", "HEGH", "44", 50000, "Python")

In [29]:
it_1.lang

'Python'

. Ama bunun yerine şöyle de yapabilirdi.

In [30]:
class IT(Employee):
    raise_percent = 1.2

    def __init__(self, name, last, age, pay, lang):
        super().__init__(name, last, age, pay) 
        self.lang = lang

. Böylece aynı kodu tekrar tekrar yazmamış olduk. Zaten superclass'ın init method'u yapıyorsa yeniden yazmaya gerek yok.

In [31]:
it_1 = IT("JAMÖZ", "HEGH", "44", 50000, "Python")

In [32]:
it_1.name

'JAMÖZ'

In [33]:
it_1.lang

'Python'

In [34]:
class IK(Employee):
    raise_percent = 1.3

    def __init__(self, name, last, age, pay, experience):
        super().__init__(name, last, age, pay) 
        self.experience = experience
    
    def print_experience(self):
      print(f"this employee has {self.experience} years of experience" )

In [36]:
ik_1 = IK("ık'cı", "king", "77", 100000, 50)

In [38]:
ik_1.print_experience()

this employee has 50 years of experience

In [39]:
isinstance(ik_1, IK)

True

In [40]:
isinstance(ik_1, Employee)

True

In [45]:
issubclass(IT, Employee)

True

In [46]:
issubclass(IK, Employee)

True

In [47]:
issubclass(IT,IK)

False

#MAGIC METHOD
. Magic Method'ları kullanarak bazı built-in davranışları değiştirebiliriz. Magic methodlar "__" ile çevrilidir. Bunlara dunder method'da denir.

In [48]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [50]:
it_1 = Employee("JAMÖZ", "HEGH", "44", 50000)
it_2 = Employee("JAMÖZ2", "HEGH2", "442", 50000)

# __ str __()
. Objenin okunabilir bir tanımını oluştururuz.

In [63]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

In [64]:
emp_1 = Employee("JAMÖZ", "HEGH", "44", 50000)

In [65]:
print(emp_1)

Employee(name=JAMÖZ, last=HEGH, age=44, pay=50000)

# __ add __()

In [66]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

    def __add__(self, other):
        return self.pay + other.pay

In [67]:
emp_1 = Employee("JAMÖZ", "HEGH", "44", 50000)
emp_2 = Employee("JAMÖZ2", "HEGH2", "442", 500002)

In [69]:
emp_1 + emp_2

550002

# __ len __()

In [74]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self,name,last,age,pay):
        self.name = name
        self.last = last
        self.age = age 
        self.pay = pay 
        Employee.num_emp += 1
    
    def apply_raise(self):
        self.pay = self.pay * self.raise_percent 

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

    def __add__(self, other):
        return self.pay + other.pay

    def __len__(self):
        return len(self.name)

In [75]:
emp_1 = Employee("JAMÖZ", "HEGH", "44", 50000)
emp_2 = Employee("JAMÖZ2", "HEGH2", "442", 500002)

In [77]:
len(emp_2)

6