#Class Tanımlamak

x Class mantığında hem fonksiyonalite hem de veriyi bir arada tutma yoluna bakacağız. 

x Class'ın içerisindeki veri(data)'lara attribute, fonksiyonlara method diyeceğiz. 

x Örneğin; bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu class mantığı ile uyumlu çalışacaktır. Her çalışanın farklı farklı özellikleri (attribute)'ları ve yaptıkları işler (methodları) olacaktır. 

x Class içerisinde method yaratırken, class'tan yaratılan objeyi methodlar ilk arguman olarak alır, ve bu argumana ortak ağız oluşması açısından "self" ismini veriyoruz. Fakat bu kişinin isteği doğrultusunda değişime uğrayabilir.

#Attribute

In [1]:
# it gives error 
class Employee:

SyntaxError: ignored

In [2]:
class Employee:
  pass

In [3]:
e = Employee()

# e objesine "a" attribute'u ekledik.
e.a = 4

In [4]:
e.a

4

In [6]:
# yukarıdaki gibi tek tek vermek yerine en başta class'ı tanımlarken bütün attribute'ları verebiliriz. 

class Employee:
  def __init__(self, name, last, age, pay):
    self.name = name 
    self.last = last 
    self.age = age 
    self.pay = pay

In [7]:
# class bu parametrelr ile birlikte obje yaratmak için bir kalıptır sadece!!!
emp_1 = Employee("seyit", "cabbar", "44", 44444)

# üst satırdaki kod ile bir obje yarattık, Employee class'ının bir objesi

In [10]:
emp_1.last

'cabbar'

Burada yaratılan bütün attribute'lar instance variable'dır. Her obje (classtan yaratılan instance), kendine özel attribute'a sahip(iki kişinin adı aynı olabilir) fakat hepsi için ayrı bir variable var ve hepsi kendi age attribute'unda tutuluyor.

In [11]:
class Employee:
  def __init__(self, name, last, age, pay):
    self.name = name 
    self.last = last 
    self.age = age 
    self.pay = pay 

  def fullname(self):
    print(f"{self.name} {self.last}")

In [12]:
emp_2 = Employee("seyit2", "cabbar2", "22", 2222)
emp_3 = Employee("seyit3", "cabbar3", "44", 3333)
emp_2.fullname()
emp_3.fullname()

seyit2 cabbar2
seyit3 cabbar3