#Args&Kwargs

1)Args 
.Değişken sayılı parametre vermenin bir yolu. list/tuple objelerini unpach yaapr ama disctionary objelerini yapmaz.

In [1]:
def sum(numbers):
  res = 0
  for e in numbers:
    res += e
  return

*args'ın anlamı, en başta tuple gibi bir objem vardı ama bunu tek tek elemanlarını ayırdım demek.

In [11]:
def sum_(*text):
  print(type(text))
  for e in text:
    print(type(e))
    print(e)

In [13]:
# *args = 1,2,3,4 olduğunu varsayacak, yani args'ın tek tek elemanlarına ayrılmış hali 1,2,3,4 ozaman orijinali : args=(1,2,3,4)
sum_('1','2',3,4)

<class 'tuple'>
<class 'str'>
1
<class 'str'>
2
<class 'int'>
3
<class 'int'>
4

In [14]:
def sum_2(*args):
  res = 0
  print(type(args))
  print(args)

  print(len(args))

  for e in args:
    for j in e:
      res += j
  return res

In [15]:
sum_2([1,2])

<class 'tuple'>
([1, 2],)
1

3

#2) Kwargs
. Fonksiyona değişken sayıda keyword arguement verebilmemizi sağlar. 

. dictionary yapısına sahiptir.

In [16]:
def students(**kwargs):

  for v in kwargs.values():
    print(v)

In [17]:
students(name="Jake", student_number="401")

Jake
401

In [23]:
def students_(**students):
  print(students)
  for v in students.values():
    print(v)

In [24]:
students_(name="Jake", student_number="401")

{'name': 'Jake', 'student_number': '401'}
Jake
401

#3) Using Args and Kwargs Together
Kullanım sırası önemlidir.

In [25]:
def weird(*args, **kwargs):
  res = 0
  for e in args:
    res+= e

  for k,v in kwargs.items():
    print(k,":",v)
  return res

In [26]:
weird(1,2,3, name="seyit", student_number=333)

name : seyit
student_number : 333

6

In [27]:
weird(1,2,3,4,5, name="seyit", student_number=333)

name : seyit
student_number : 333

15

#Unpacking

In [28]:
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [29]:
print(*l) #unpack list with star

1 2 3 4

In [30]:
l1 = [1,2,3,4]
l2 = [20,21]

In [32]:
merged_l = [*l1, *l2]
merged_l

[1, 2, 3, 4, 20, 21]

In [33]:
#with this way, i cant reach that i want go point
[l1,l2]

[[1, 2, 3, 4], [20, 21]]

In [40]:
d1 = {"name":"soner", "number":12}
d2 = {"last_name":"keramet", "grade": 90}
d3 = {"name":"helim", "number":44}

In [36]:
# with this way, i have taken error 
# d1+d2

In [41]:
d_merged = {**d1, **d2}
d_merged

{'grade': 90, 'last_name': 'keramet', 'name': 'soner', 'number': 12}

In [43]:
d_merged_3 = {**d1, **d3}
d_merged_3

{'name': 'helim', 'number': 44}

In [45]:
str_list = [*"hey this is a mice"]
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'm',
 'i',
 'c',
 'e']

In [46]:
str_list_2 = [*"hey"]
str_list_2

['h', 'e', 'y']